/* src/App.css */

/* General resets */
body {
  background-color: #f8f9fa; /* light gray */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center{
  color: #f8f9fa;
  font-weight: 100rem;
}



.text-primary {
  color: #0d6efd !important; /* Bootstrap primary color */
}



.login-form-container {
  z-index: 1;
  position: relative;
  margin-top: -120px; /* Pull up over the image slightly */
}



.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 30rem;
  margin-bottom: 100px;
}



/* Sidebar scroll if content grows */
.sidebar {
  overflow-y: auto;
  background-color: #05022B;
}

.main-navbar .nav-link {
  font-weight: 500;
  margin-left: 1rem;
}

.main-navbar {
  min-height: 560px;
  color: white;
}

.main-navbar-image {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 100px;
}

.footer-section {
  background-color: #05022B;
  color: white;
  border-top: 4px solid #f2f2f2;
}


.social-div {
  background-color: #333;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Mobile first adjustments */
.login-form {
  padding: 1rem;
}

/* Tablet and up */
@media (min-width: 768px) {
  .login-form {
    padding: 2rem 4rem;
  }
}

/* Desktop and up */
@media (min-width: 1024px) {
  .login-form {
    max-width: 500px;
    margin: auto;
  }
}
img {
  max-width: 100%;
  
}

/* Highlight sidebar links on hover */
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Maintain consistent spacing */
.nav-link {
  padding: 0.75rem 1rem;
}


.calendar-day {
  width: 14.28%;
  height: 100px;
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: left;
  position: relative;
  cursor: pointer;
  background-color: #05022B;
  color: #dee2e6
;
  transition: background-color 0.2s ease-in-out;
}

.calendar-day:hover {
  background-color: none;
}

.calendar-day .day-number {
  font-weight: bold;
  font-size: 16px;
  color: #e9f5ff;
}
